html {
  font-size: 10px;
}

body {
  background: $danger-red;
  background: $danger-grey;
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}
