.stores {
  // flex stuff
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.store {
  background: $white;
  box-shadow: $shad;
  margin: 10px 0;
  width: 30%;

  @media all and (max-width: 850px) {
    width: 48%;
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.store__actions {
  position: relative;
  z-index: 2;

  // flex stuff
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);
  color: $white;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.store__action {
  font-size: 10px;
  svg {
    width: 25px;
    fill: $white;
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
}

.store__hero {
  // positioning
  position: relative;

  padding: 0 10px 0 10px;

  &:before {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    content: '';
    display: block;
    height: 100%;
    opacity: 0.6;
    width: 100%;
  }

  img {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

