$black: #101713;
$white: #faebd7;
$width: 800px;
$danger-red: #C91800;
$danger-yellow: #FF991C;
$danger-orange: #ED4613;
$danger-grey: #2B362B;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$yellow-alpha: rgba($danger-yellow,0.8);
